@import 'tailwindcss';

@theme {
	--color-*: initial --color-white: #ffffff --color-black: #000000
		--color-gray-500: #9699aa --color-orange-300: #ffaf7e
		--color-red-500: #ee374a --color-red-450: #e96170 --color-red-400: #f9818e
		--color-purple-600: #483eff --color-purple-500: #6259ff
		--color-purple-400: #928cff --color-purple-200: #d6d9e6
		--color-blue-950: #022959 --color-blue-700: #164a8a
		--color-blue-300: #abbcff --color-blue-200: #bee2fd
		--color-blue-100: #eff5ff --color-blue-50: #f8f9ff --spacing-150: 37.5rem;
}

@layer utilities {
	.text-preset-1 {
		font-size: 2rem;
		font-weight: 700;
	}
	.text-preset-2 {
		font-size: 1.5rem;
		font-weight: 700;
	}
	.text-preset-3-medium {
		font-weight: 500;
	}
	.text-preset-3-regular {
		line-height: 150%;
	}
	.text-preset-4-bold {
		font-size: 0.875rem;
		font-weight: 700;
		letter-spacing: 1px;
	}
	.text-preset-4-medium {
		font-size: 0.875rem;
		line-height: 150%;
		font-weight: 500;
	}
	.text-preset-4-regular {
		font-size: 0.875rem;
	}
	.text-preset-5 {
		font-size: 0.75rem;
	}
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-width: 320px;
	min-height: 100vh;
	font-size: 1rem;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: 0;
}
